body 
{background-color:  #DCDCDC;
    font-family: 'Poiret One';}

nav 
{text-align: center;}

ul 
{text-align: right;}

li 
{display: inline-block;
width: 100%;}

p 
{text-align: center;
    font-size: 25px;}

a 
{font-size: 25px;}

h3 
{font-size: 40px;}

button 
{margin: 0 auto;
    display: block;}

h1 {font-size: 55px;}

label {font-size: 25px;}

input {text-align: center;}

.button_look {
    width: 145px;
    height: 45px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: 'Poiret One', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
     box-shadow:inset 2px 2px 2px 0px rgba(167, 161, 161, 0.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .button_do {
    border: none;
    color: #000;
    z-index: 1;}